version: '3.1'
services:

  db:
    image: mysql
    container_name: school-db
    
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: school_db
      MYSQL_USER: school
      MYSQL_PASSWORD: school
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
    ports:
      - 8080:80
    depends_on:
      - db

  school:
    build: .
    ports:
      - "8765:80"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USER: school
      DATABASE_PASSWORD: school
      DATABASE_NAME: school_db

volumes:
  db_data: {}